
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(173, 174, 197);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    background-color: #444;
    padding: 10px 0;
}

.navbar .logo {
    width: 100px;
    height: auto;
    margin: 0 20px;
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.navbar nav ul li {
    margin-right: 20px;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
}

.about-section, .contact-section {
    padding: 40px 0;
    text-align: center;
}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
